<div class="task_fields">
	<%= f.hidden_field :_destroy %>
	<table>
		<tr>
			<td><%= f.text_area :description, :size => "50x2", :id => 'description' %></td>
			<td><p class="task_button"><%= link_to_function "Remove task", "remove_task(this)"%></p></td>
		</tr>
	</table>
</div>
