.story {
  border: solid 1px #AAA;
  margin: 20px 0;
  padding: 7px 12px;
	@include border-radius(8px);
/*	@include transition(all, 500ms, ease-in-out); */
  
  &:hover { background-color: #E6E6FA; } 
  
  h2 {
    margin: 0;
    a { text-decoration: none; }
  }
}

.shiny_button {
	@include button(shiny, #434CD1); 
}

.task_button {
	@include button(pill, #434CD1);
  
  a { 
		text-decoration: none; 
		color: white;
	}
}

#droptarget {
	width: 100%;
	height: 100px;
}