<!DOCTYPE html>
<html>
<head>
  <title>ScrumBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://0.0.0.0:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	Your Release Name
</div>
<div id="container">
	<%= yield %>
</div>
	
</body>
</html>
